<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Eat-Da-Burger!</title>
        <!-- Link to favicon -->
        <link rel="icon" href="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/hamburger.png">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Link to css file -->
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>