* {
	text-align: center;
}
body{
	background-color: black;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.jumbotron {
	/*background-image: url("/assets/img/burgerss.jpg");*/
	color: black;
}

.list-group-item{
	background-color: #b6d0ac;
}

.input-lg{
	width: 500px;
    margin-left: 220px;
}